* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "product_sansregular", sans-serif;
  height: 150vh;
  background-image: url("../images/img/hero.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 49%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 75rem;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.tag-property {
  font-size: 0.8125rem;
  color: #00b569;
  padding: 0.4375rem;
  background: rgba(0, 181, 105, 0.15);
  border-radius: 0.3125rem;
}

.tag-housing {
  font-size: 0.8125rem;
  color: #7800d2;
  padding: 0.4375rem;
  background: rgba(120, 0, 210, 0.15);
  border-radius: 0.3125rem;
}

.tag-mortgage {
  font-size: 0.8125rem;
  color: #f95b02;
  padding: 0.4375rem;
  background: rgba(249, 91, 2, 0.15);
  border-radius: 0.3125rem;
}

/* navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12.5rem;
}

nav img {
  margin-right: 4.375rem;
}

nav ul {
  display: flex;
}

.nav-items,
.nav-cta {
  display: flex;
  align-items: center;
}

.nav-items li {
  margin-right: 3.125rem;
  display: inline-flex;
}

.nav-items li:nth-last-of-type(1) {
  margin: 0;
}

.nav-items li img {
  margin: -0.1875rem 0rem 0rem 0.0625rem;
}

.nav li a:last-of-type(1) {
  margin-right: 0;
}

.nav-items li a {
  font-size: 1.0625rem;
  color: #25033e;
}

.nav-cta {
  display: flex;
  align-items: center;
}

.nav-cta li {
  margin-right: 0.9375rem;
}

.nav-cta li a {
  font-size: 1.0625rem;
  color: #7800d2;
  font-weight: 600;
}

.nav-cta li:last-of-type {
  padding: 1.25rem 4.1875rem;
  background: #ffffff;
  box-shadow: 0rem 0.125rem 0.875rem rgba(206, 146, 251, 0.19);
  border-radius: 3.125rem;
}

.current {
  font-weight: bold;
}

/* header */
.header-container {
  margin-top: 11.25rem;
}

.header-content div {
  font-weight: bold;
  width: 33.125rem;
  height: 12.1875rem;
  font-size: 3.3125rem;
  line-height: 4.0625rem;
  color: #25033e;
  letter-spacing: 0.1rem;
}

.header-content div span {
  color: #ffce00;
}

.header-content p {
  margin-top: 2.6875rem;
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  color: #665275;
}

.filters {
  margin-top: 2.5rem;
  margin-left: 1rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0rem 0.125rem 1.5rem rgba(120, 0, 210, 0.07);
  border-radius: 2.5rem;
  width: 80%;
}

.filters ul {
  display: flex;
  padding: 0rem 2.8125rem;
  background: #fff;
  padding: 1rem;
  border-radius: 2.5rem;
}

.filters li {
  display: inline-flex;
  padding-right: 1.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  align-items: center;
}

.filters li:not(:nth-last-child(1)) {
  border-right: 0.0313rem solid #e0e0e0;
}

.filters li:not(:first-child) {
  padding-left: 1.875rem;
}

.filters li:first-of-type {
  padding-left: 1.875rem;
}

.filters li img {
  margin-left: 0.3rem;
}

.filters div {
  background: #7800d2;
  border-radius: 3.125rem;
  margin-right: 0.3125rem;
}

.filters h2 {
  font-weight: bold;
  font-size: 1.0625rem;
  color: #fff;
  padding: 1.45rem 4.1875rem;
}

/* listings */
.listings-container {
  margin-top: 24.0625rem;
}

.listings-head {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.listings-head h1 {
  font-weight: bold;
  font-size: 2.25rem;
  color: #25033e;
}

.listings-head a {
  font-size: 1.0625rem;
  color: #25033e;
}

.listings-grid {
  margin-top: 3.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.625rem;
  justify-items: center;
}

.listing-card {
  width: 36.6875rem;
  height: 29.25rem;
  border: 0.0313rem solid #afafaf;
  border-radius: 0.3125rem;
  background: #fff;
  position: relative;
  text-align: center;
}

.listing-card img {
  padding-top: 1.0625rem;
  padding-bottom: 0.9375rem;
}

.listing-card .like {
  position: absolute;
  top: 1.875rem;
  right: 1.875rem;
  background: #ffea8e;
  padding: 0.5rem;
  border: 0.125rem bold #333;
  border-radius: 2.5rem;
}

.tags {
  display: flex;
  padding-left: 1.0625rem;
  text-align: center;
}

.tags p {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #25033e;
  margin-right: 0.8125rem;
  background: rgba(37, 3, 62, 0.15);
  border-radius: 0.3125rem;
  padding: 0.4375rem;
  text-align: center;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0.9375rem 1.0625rem 0rem 1.0625rem;
}

.title p {
  font-size: 1.0625rem;
  color: #25033e;
}

.title a {
  font-size: 0.8125rem;
  text-decoration: underline;
  color: #25033e;
}

.address,
.phone {
  display: flex;
  padding-left: 0.8125rem;
  text-align: center;
}

.address img,
.phone img {
  vertical-align: middle;
  margin-right: 0.625rem;
}

.address p,
.phone p {
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #25033e;
}

.phone {
  margin-top: -0.9375rem;
}

/* about */
.about-container {
  background: url("/images/icons/subtract.svg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 6rem;
}

.about-head {
  font-weight: bold;
  font-size: 2.25rem;
  color: #25033e;
  padding-top: 2rem;
}

.about {
  display: flex;
  margin-top: 4.6875rem;
}

.about-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1.25rem;
  justify-items: center;
  margin-right: 2.1875rem;
}

.about-grid img {
  margin-bottom: 1.25rem;
}

.about-info {
  margin-top: 2.75rem;
}

.about-info,
.about-metrics p {
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  color: #665275;
}

.first-p {
  width: 36.6875rem;
  height: 7.8125rem;
  margin-bottom: 1.5625rem;
}

.second-p {
  width: 36.6875rem;
  height: 7.8125rem;
}

.about-metrics {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 3.875rem;
  margin-right: 0.1875rem;
}

.about-metrics .numbers {
  font-weight: bold;
  font-size: 3.3125rem;
  line-height: 4rem;
  color: #25033e;
  margin-bottom: 1.0625rem;
}

/* testimonials */
.test-container {
  margin-top: 8rem;
}

.test-head {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #25033e;
  margin-bottom: 4.7rem;
}

.test-group {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100vw;
  margin: auto;
}

.test-purple {
  grid-column: 1 / 9;
  /* z-index: 2; */
  grid-row: 1 / 5;

  display: flex;
  align-self: flex-start;
}

.test-purple div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arrows {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

.arrows img:first-of-type {
  margin-right: 1rem;
}

.test-text {
  background: rgba(155, 81, 224, 0.3);
  padding: 115px 290px 107px 190px;
}

.test-image {
  grid-column: 7 / -1;
  grid-row: 2 / 5;
  margin-top: 70px;
}

.test-image img {
  width: 100%;
}

.test-group p {
  font-size: 1.0625rem;
  line-height: 1.5625rem;
  color: #000000;
}

.test-text h4 {
  margin-top: 2.375rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #000000;
}

.test-text p:last-of-type {
  margin-top: 0.625rem;
}

.story-btn {
  margin-top: 5rem;
  margin-left: 190px;
  background: #7800d2;
  border-radius: 3.125rem;
  padding: 1.25rem 4.1875rem;
  font-weight: bold;
  font-size: 1.0625rem;
  line-height: 1.3125rem;
  color: #ffffff;
}

/* blog posts */
.blog-head {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
}

.blog-head h1 {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.75rem;
  color: #25033e;
}

.blog-head a {
  font-size: 1.0625rem;
  line-height: 1.625rem;
  color: #25033e;
}

.blog-grid {
  margin-top: 3.125rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
  justify-items: center;
}

.blog-card {
  width: 23.3125rem;
  height: 24rem;
  border: 0.0313rem solid #afafaf;
  border-radius: 0.3125rem;
  background: #fff;
  position: relative;
  text-align: center;
}

.blog-card img {
  padding-top: 0.5625rem;
  padding-bottom: 0.9375rem;
}

.blog-title {
  font-size: 1.0625rem;
  line-height: 1.4375rem;
  text-align: left;
  margin-left: 0.5625rem;
  color: #25033e;
}

.blog-deets div {
  display: flex;
  justify-content: space-between;
  margin: 0.5625rem 0.6875rem;
}

.blog-deets div p:last-of-type {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: #665275;
}

/* download */

.mobile {
  margin-top: 9.6875rem;
  margin-bottom: 10rem;
  padding-bottom: 2rem;
  /* max-width: 81.25rem; */
  width: auto;
  border-radius: 4rem;
  /* max-height: 22.5rem; */
  height: auto;
  background: url(../images/mobile/bg-banner.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.mobile div {
  margin: 3.625rem auto 3.1875rem 5.625rem;
}

.mobile div h1 {
  max-width: 31.5rem;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.625rem;
  color: #fff;
}

.mobile div p {
  font-size: 1.5rem;
  margin-top: 1.0625rem;
  color: #b47ddf;
}

.mobile div img {
  margin-right: 1.5625rem;
  margin-top: 1.0625rem;
}

/* footer */
.footer {
  /* margin-top: 210px; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer div {
  display: flex;
}

.footer .head {
  font-weight: bold;
  font-size: 1.0625rem;
  color: #25033e;
  margin-bottom: 1.875rem;
}

.footer ul {
  margin-right: 4.1875rem;
}

.footer div li {
  margin-bottom: 1.25rem;
}

.footer li a {
  font-size: 1rem;
  line-height: 1.1875rem;

  color: #665275;
}

.footer-footer {
  text-align: center;
  margin-top: 3.25rem;
  padding-bottom: 3.375rem;
  font-size: 0.8125rem;
  color: #c7afd8;
}

.footer-footer a {
  font-size: 0.8125rem;
  color: #c7afd8;
}
